/**
 * Общие стили
 */
/*быстрый переход к окну заявки по группам*/
.kvt-stigButtons {
    display: flex;
    padding: 6px 12px 0;
    gap: 4px;
    flex-wrap: wrap;
}

.kvt-stig-item {
    display: inline-flex;
    cursor: pointer;
}

.kvt-stig-item:hover {
    opacity: 0.7;
}

/* быстрый объем в $ */
.kvtFastVolumePrice, .kvtFastVolumeSize {
    margin-top: 5px;
    margin-bottom: -2px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 2px 8px;
}

span[data-kvt-volume] {
    cursor: pointer;
}

span[data-kvt-volume]:hover {
    text-decoration: underline;
}

.kvtFastVolumePrice span[data-kvt-volume] {
    color: rgba(var(--pro-green-5), 1);
}

.kvtFastVolumeSize span[data-kvt-volume] {
    color: rgba(var(--pro-blue-5), 1);
}

/**
 * Меню добавления виджетов
 */
[class*=-components-Menu-styles-item-] {
    height: 28px !important;
    padding: 4px 12px !important;
}

.pro-menu-item > * {
    margin-right: 10px;
}

/**
 * Заявка
 */
.kvt-root [class*=src-modules-CombinedOrder-components-OrderBody-OrderBody-scrollContent-] {
    padding: 0 5px;
}

.kvt-root [class*=src-components-AssetCard-AssetCard-container-].ignore-global {
    padding: 0;
    background: none;
    margin-bottom: 0;
    min-height: 30px;
}

.kvt-root [class*=src-components-AssetCard-AssetCard-container-].ignore-global [class*=src-components-TickerInfo-TickerInfo-container] {
    padding: 4px 0;
}

.kvt-root .pro-input-group input {
    padding: 0 5px;
}

.kvt-root [class*=src-modules-CombinedOrder-components-OrderBody-OrderBody-footer-] {
    padding: 0 4px 0 !important;
}

.kvt-root [class*=src-modules-CombinedOrder-components-OrderButton-OrderLimits-OrderLimits-] {
    border: none;
    margin: 1px;
}

.kvt-root [class*=src-modules-CombinedOrder-components-OrderButton-OrderLimits-OrderLimits-itemContainer-] {
    padding: 0;
}

.kvt-root [class*=src-modules-CombinedOrder-components-OrderButton-OrderLimits-OrderLimits-container-] {
    background: none;
    padding: 0;
    margin: 5px 0 5px;
}

.kvt-root [class*=src-modules-CombinedOrder-components-OrderButton-OrderLimits-OrderLimits-item-] {
    font-size: 12px;
}

.kvt-root [class*=src-modules-CombinedOrder-components-OrderButton-OrderLimits-OrderLimits-item-] > span:nth-of-type(1) {
    width: 48px;
    text-overflow: clip;
}

/* меньше кнопочки */
.kvt-root [class*=src-components-SMSConfirmation-styles-popover-] .pro-button {
    padding: 2px 0;
    min-height: 24px;
}

/* поля ввода и плюс/минус */
.kvt-root .pro-numeric-input .pro-button-group.pro-vertical > .pro-button {
    width: 20px !important;
    min-width: 20px;
}
.kvt-root .pro-button-group {
    height: 26px;
}
.kvt-root [class*=src-modules-CombinedOrder-components-OrderForm-OrderForm-inputs-] {
    min-height: 26px;
}

.kvt-root .pro-input-group .pro-input {
    padding-right: 20px !important;
    height: 26px !important;
    padding-left: 5px !important;
}

.kvt-root .pro-input-group .pro-input-right-container {
    padding-right: 2px;
}

.kvt-root .pro-input-group .pro-input-right-container-icon {
    margin-left: 0;
}

/* шапка тикера в заявке */
.kvt-root [class*=src-components-TickerInfo-TickerInfo-line1-] {
    line-height: 15px;
    align-items: center;
}

.kvt-root [class*=src-components-TickerInfo-TickerInfo-line2-] {
    line-height: 13px;
    font-size: 12px;
}

.kvt-root [class*=src-components-OrderHeader-styles-price-] {
    line-height: 16px;
}

/* комиссия + цена сделки */
.kvt-root [class*=src-modules-CombinedOrder-components-OrderSummary-OrderSummary-orderSummary-] {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    margin-top: 7px;
    padding: 2px 7px;
}

.kvt-root [class*=src-modules-CombinedOrder-components-OrderSummary-OrderSummary-row-] {
    padding: 1px 0 !important;
    border-bottom: none !important;
}

.kvt-root [class*=src-modules-CombinedOrder-components-OrderSummary-OrderSummary-caption] {
    display: none;
}

.kvt-root [class*=src-modules-CombinedOrder-components-OrderSummary-OrderSummary-value-] {
    margin-left: 0;
}

/* отложки */
.kvt-root [class*=src-modules-CombinedOrder-components-OrderBody-OrderBody-stopOrderTypeSelector-] {
    margin-bottom: 3px;
}

.kvt-root [class*=src-components-Forms-commonStyles-label-] {
    margin-bottom: 3px;
    overflow: hidden;
    white-space: nowrap;
    font-size: 12px;
}

.kvt-root [class*=src-modules-CombinedOrder-components-OrderForm-OrderForm-secondRow-] {
    margin-top: 3px;
}

.kvt-root [class*=src-modules-CombinedOrder-components-OrderSummary-OrderSummary-hint-] {
    margin-left: 0;
}


/**
 * список заявок
 */
/* tabs in header */
.kvt-root [class*=src-modules-Orders-containers-components-styles-tabs] {
    padding: 4px 5px;
}

.kvt-root [class*=src-modules-Orders-containers-components-styles-tabs] .pro-tab-filter {
    max-width: 60px;
    padding: 2px 3px;
}

.kvt-root [class*=src-modules-Orders-containers-components-styles-ordersHeader-] {
    margin-bottom: 0
}

/* inner items block */
.kvt-root [class*=src-modules-Orders-containers-styles-item-] {
    margin: 0 0;
    padding-top: 4px;
}

.kvt-root .UICard {
    padding: 3px 6px;
    min-width: 200px;
}

/* item заявки */
.kvt-root [class*=src-modules-Orders-containers-styles-inner-] {
    margin: 0 5px;
}

/* item заявки + item истории операций */
.kvt-root [class*=src-components-TickerInfo-TickerInfo-container-] {
    padding: 0;
}


/**
 * логотип в виджете заявки в шапке, списке активных заявок, истории операций
 */
.kvt-root [class*=src-components-Logo-Logo-logoLarge-] {
    min-width: 18px;
    min-height: 18px;
    width: 18px;
    height: 18px;
    margin-right: 5px;
}

.kvt-root [class*=src-components-Logo-Logo-logoLarge-] [class*=src-components-Logo-Logo-logoImage-] {
    width: 18px;
    height: 18px;
}

.kvt-root [class*=src-components-Logo-Logo-logoLarge-] svg {
    width: 18px;
    height: 18px;
}

/**
 * История операций
 */
.kvt-root [class*=src-components-VirtualList-VirtualList-list_cssScrollbars-][class*=src-components-VirtualList-VirtualList-list_withMargin-] > div > div {
    padding: 0 5px;
}

.kvt-root [class*=src-modules-Timeline-containers-components-TimelineList-styles-date-] {
    margin-top: 2px;
}

.kvt-root [class*=src-modules-Timeline-containers-components-TimelineList-styles-main-] {
    margin-top: 4px;
    padding: 0 6px !important;
}


/**
 * Список инструментов
 */
.kvt-root [class*=src-components-SymbolLogoAndName-SymbolLogoAndName-logo-] {
    margin-right: 4px;
}

.kvt-root [class*=src-components-Logo-Logo-logoSmall-] {
    min-width: 18px;
    min-height: 18px;
    width: 18px;
    height: 18px;
}

.kvt-root [class*=src-components-Logo-Logo-logoSmall-] [class*=src-components-Logo-Logo-logoImage-] {
    width: 18px;
    height: 18px;
}

.kvt-root .table tbody > tr > td > div {
    font-size: 12px !important;
}

