*, :after, :before {
    box-sizing: border-box;
}

body, html {
    overflow: hidden;
    margin: 0;
    padding: 0;
}

body{
    width: 510px;
    max-height: 600px;
    font-size: 12px;
}

button, input, optgroup, select, textarea {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

.d-block{
    display: block;
}

.d-none{
    display: none;
}
.form-group {
    margin-bottom: 13px;
}
label {
    display: inline-block;
}
.form-label {
    display: block;
    margin-bottom: 6px;
}
.form-control{
    padding: .175rem;
    line-height: 1.5;
    background-clip: padding-box;
    border: 1px solid #cbcbcb;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    color: #000;
}
.form-control:focus{
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgb(0 123 255 / 25%);
}
.form-text{
    font-size: .975em;
    color: #949494;
    margin-top: .25rem;
}

.form-check{
    display: block;
    padding-left: 1.5em;
    margin-bottom: .125rem;
}
.form-check-input {
    width: 1em;
    height: 1em;
    margin-top: .25em;
    vertical-align: top;
    background-color: #fff;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    border: 1px solid rgba(0,0,0,.25);
    color-adjust: exact;
}
.form-check .form-check-input {
    float: left;
    margin-left: -1.5em;
}

.btn{
    background: #eee;
    border: 1px solid #939393;
    cursor: pointer;
    padding: .275rem .475rem;
}
.btn:focus {
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgb(0 123 255 / 25%);
}

/**
 * табы
 */
.nav-tabs {
    position: sticky;
    z-index: 5;
    top: 0;
    padding: 10px;
    background: #eee;
    box-shadow: 0 1px 1px #cdcdcd;
}
.content-tabs{
    padding: 5px 5px 10px 5px;
}

.b-nav-tab {
    display: inline-block;
    cursor: pointer;
    padding: 4px 14px;
    position: relative;
    color: black;
    text-decoration: none;
    opacity: 0.7;
    border: 1px solid #939393;
    margin-right: 2px;
}

.b-nav-tab.active {
    z-index: 2;
    font-weight: bold;
    opacity: 1;
    background: #e0e0e0;
    border-color: #646464;
}

.b-tab {
    position: relative;
    display: none;
    z-index: 1;
    padding: 5px 6px 0 5px;
    max-height: 534px;
    overflow-y: auto;
}

.b-tab.active {
    display: block;
}


.b-tab::-webkit-scrollbar {
    width: 10px;
    border-radius: 3px
}
/* Track */
.b-tab::-webkit-scrollbar-track {
    background: #EBEEF0;
    border-radius: 3px
}
/* Handle */
.b-tab::-webkit-scrollbar-thumb {
    background: #C4C4C4;
    border-radius: 3px;
    border: 2px solid #EBEEF0;
}
/* Handle on hover */
.b-tab::-webkit-scrollbar-thumb:hover {
    background: #888;
}

/**
 * Фин. сводка
 */
.date-panel{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
}
#reportWindow {
    padding-top: 7px;
}
.top-table{
    display: flex;
    padding: 0 0 10px;
    margin-left: -7px;
}
.top-table div{
    flex: 0 0 auto;
    padding: 0 7px;
}

#reports input[type="datetime-local"] {
    max-width: 176px;
    padding: .175rem;
    margin-right: 8px
}

/**
 * таблица отчетов
 */
.report_table{
    border-collapse: collapse;
    border-width: 1px;
    width: 100%;
}
.report_table th{
    font-weight: bold;
}

.report_table td,
.report_table th{
    padding: .1rem .25rem;
    border-width: 1px;
    border-color: #cbcbcb;
    border-style: solid;
    text-align: left;
}
.report_table thead tr{
    background: #eee;
}
.open-ticker {
    background: #fffcd5;
}
.note{
    padding: 2px 0;
    color: #b2b2b2;
}

th[role=columnheader]:not(.no-sort) {
    cursor: pointer;
}


th[role=columnheader]:not(.no-sort):after {
    content: '';
    float: right;
    margin-top: 7px;
    margin-left: 2px;
    border-width: 0 4px 4px;
    border-style: solid;
    border-color: #404040 transparent;
    visibility: hidden;
    opacity: 0;
    -ms-user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

th[aria-sort=ascending]:not(.no-sort):after {
    border-bottom: none;
    border-width: 4px 4px 0;
}

th[aria-sort]:not(.no-sort):after {
    visibility: visible;
    opacity: 0.4;
}

th[role=columnheader]:not(.no-sort):hover:after {
    visibility: visible;
    opacity: 1;
}

span.red{
    color: #ff3838;
    font-weight: 500;
}

/**
 * Тикеры
 */
#groupTickersList{
    width: 100%;
    resize: vertical;
    min-height: 180px;
}