.popup-content{
    min-width: 550px;
}

/**
 * табы
 */
.b-nav-tab {
    display: inline-block;
    cursor: pointer;
    padding: 4px 14px;
    position: relative;
    color: black;
    text-decoration: none;
}

.b-nav-tab.active {
    border: 1px solid #cbcbcb;
    border-bottom: 1px solid #fff;
    z-index: 2;
    background: #fff;
    font-weight: bold;
}

.b-tab {
    position: relative;
    padding: 10px;
    border: 1px solid #cbcbcb;
    display: none;
    z-index: 1;
    top: -1px;
}

.b-tab.active {
    display: block;
}

/**
 * Фин. сводка
 */
#reportWindow {
    padding-top: 5px;
    display: block;
}
.top-table{
    display: flex;
    padding: 0 0 10px;
}
.top-table div{
    flex: 0 0 auto;
    width: 33.3333333333%;
}

/**
 * таблица отчетов
 */
.report_table{
    border-collapse: collapse;
    border-width: 1px;
}
.report_table th{
    font-weight: bold;
}

.report_table td,
.report_table th{
    padding: .1rem .3rem;
    border-width: 1px;
    border-color: #cbcbcb;
    border-style: solid;
}

th[role=columnheader]:not(.no-sort) {
    cursor: pointer;
}


th[role=columnheader]:not(.no-sort):after {
    content: '';
    float: right;
    margin-top: 7px;
    margin-left: 4px;
    border-width: 0 4px 4px;
    border-style: solid;
    border-color: #404040 transparent;
    visibility: hidden;
    opacity: 0;
    -ms-user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

th[aria-sort=ascending]:not(.no-sort):after {
    border-bottom: none;
    border-width: 4px 4px 0;
}

th[aria-sort]:not(.no-sort):after {
    visibility: visible;
    opacity: 0.4;
}

th[role=columnheader]:not(.no-sort):hover:after {
    visibility: visible;
    opacity: 1;
}

span.red{
    color: #ff3838;
    font-weight: 500;
}


/**
 * Настройки
 */
.list_settings{
    list-style: none;
    padding: 0;
}
.list_settings li{
    margin-bottom: 12px;
}
.list_settings label{
    display: flex;
    align-content: center;
}
.list_settings input[type=checkbox] {
    margin: 3px 3px 3px 0;
}
.list_settings input[type=text] {
    margin-top: 2px;
}
.form-text{
    font-size: .875em;
    color: #6c757d;
}


